<div class="govuk-width-container">
    <main class="govuk-main-wrapper ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-!-padding-left-2">Document Store Showcase application</caption>
                    <div class="govuk-!-padding-bottom-2"></div>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a class="govuk-!-padding-left-2" routerLink="/document-upload" aria-describedby="doc-assembly">Document upload</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a class="govuk-!-padding-left-2" routerLink="/document-download" aria-describedby="doc-viewer">Document download</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>